    <div id='page' class="container-fluid" style='padding:10px 50px;' ng-controller='SupplierController as ctrl'>
      <div>
          <div class="container">
                <div class="row" style='margin-bottom:10px;'>
                    <form novalidate class='form-inline'>
                        <div class="form-group col-md-6">
                            <label for="" class="label" style='background:none; color:#666;'>Search Supplier:</label>
                            <input style="width: 400px;border-radius: 0px;height: 25px;" data-ng-model="searchSupplier" class='form-control' type="text" placeholder="Search Supplier">
                        </div>
                    </form>
                    <a href="#/addNewSupplier" class='btn btn-info btn-sm' role="button">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add New Supplier</a>
                </div>
                <table class="table table-hover table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th><a href="" ng-click="orderByField='id'; reverseSort = !reverseSort">Supplier Id </a></th>
                            <th><a href="" ng-click="orderByField='name'; reverseSort = !reverseSort">Firm Name</a></th>
                            <th>Supplier Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="supplier in ctrl.suppliers.list | filter: searchSupplier | orderBy:orderByField:reverseSort">
                            <td>
                                {{ supplier.id }}
                            </td>
                            <td>
                                {{ supplier.firmName }}
                            </td>
                            <td>
                                <!-- <a href="#/supplier/{{stock.sId}}">View History</a> -->
                                <a href="#/supplier_details/{{supplier.id}}">
                                  <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Supplier Detail
                                </a>

                                <button type="button" class="close" ng-click='ctrl.remove_supplier(supplier)' aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
