<div class="container-fluid">    
    <form novalidate id='login' name='form' ng-submit='changePassword()'>
        <h4 id='login-text'>Change Password</h4>
        <div class="form-group" ng-class="{true: 'has-error'}[submitted && form.username.$invalid]">
            <label class="control-label" for="username">Enter New Password</label>
            <input type="password" name="username" class='form-control' data-ng-model="edit.pass" required />
        </div>
        <div class="form-group" ng-class="{true: 'has-error'}[submitted && form.password.$invalid]">
            <label class="control-label" for="password">Re Enter New Password</label>
            <input type="password" name="password" class='form-control' data-ng-model="edit.repass" required />
        </div>
        <button type="submit" class="btn btn-primary btn-large" ng-click="submitted=true">Change</button>
    </form>
</div>